:root {
    --light4: hsl(0, 0%, 20%);
    --light3: hsl(0, 0%, 40%);
    --light2: hsl(0, 0%, 60%);
    --light1: hsl(0, 0%, 80%);
}

html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}

header {
    width: 100%;
    max-height: 10%;
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

.header-actions {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-profile {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: hsl(0, 0%, 90%);
}

.header-profile > * {
    padding: 1rem;
}

header > i {
    color: hsl(0, 0%, 90%);
}

nav {
    display: inline-block;
}

nav > a {
    text-decoration: none;
    color: hsl(0, 0%, 90%);
    font-size: .8rem;
}

nav > a:hover {
    color: hsl(0, 0%, 60%)
}


#gh-logo {
    height: 60px;
}

body {
    background-color: hsl(240, 10%, 7%);
    /* margin-top: 8%; */
}

#page {
    margin-top: 8%;
}

 img {
    max-width: 100%;
}

.profile {
    color: var(--light3);
    border-bottom: 2px solid var(--light4);
}

.profile > h3 {
    font-weight: 300;
    font-size: 1.4rem;
}

.num {
    color: var(--light1);
}

.profile > img {
    border-radius: 50%;
}
.profile > button {
    width: 100%;
    color: var(--light1);
    background-color: hsl(240, 10%, 17%);
    border: 2px solid var(--light4);
    border-radius: 5%;
}


.org-container > h3 {
    color: var(--light2);
    font-weight: 400;
    font-size: 1rem;
}

.org {
    color: var(--light1);
}

.org-name {display: none;}


.org > img {
    width: 12%;
    min-width: 30px;
    border-radius: 15%;
}


main > * {
    border-top: 2px solid var(--light4);
}

.repo {
    color: var(--light3);
    border-bottom: 2px solid var(--light4);
    display: flex;
}

.repo-title {
    margin-top: 10px;
    position: relative;
}
.visibility {
    position: relative;
    color: var(--light3);
    top: .2rem;
    border: 2px solid var(--light4);
    border-radius: 24px;
    transform: scale(.8);
    text-transform: capitalize;
}

.repo-name {
    color: hsl(220, 70%, 70%);
    font-weight: 600;
    font-size: 1.25rem;
    text-decoration: none;

}

.lang {
    position: relative;
}

.color-tag {
    background-color: red;
    border: 2px solid black;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    position: relative;
    top: .4rem;
    margin-right: .1rem;
}

.repo-actions {
    margin: auto 0;
    margin-left: auto;

}

.repo-actions > button {
    margin: 0;
    background-color: var(--light4);
    color: var(--light1);
    border: solid 1px var(--light3);
    border-radius: 5px;
}

.repo-actions > button > i {
    transform: scale(.75);
}

.search-form {
    display: flex;
}

.filters {
    display: flex;
}

.filters > * {
    margin: .25rem;
    background-color: var(--light4);
}

.search-form > * {
    margin: auto;
}

#search-bar {
    width: 50%;
    background-color: var(--light4);
    border: 1px solid var(--light3);
    border-radius: 4px;
}



#new-repo {
    background-color: hsl(120, 60%, 40%);
    color: white;
    padding: .5rem;
    border: none;
    border-radius: 6px;
}
#new-repo > * {
    margin: 0 10px;
}